
.mj-sketch {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1000;
    .control-panel {
        display: flex;
        background-color: rgb(51, 51, 51);
        box-shadow: 0px 13px 28px -21px rgba(0,0,0,0.75);
        padding: 10px;
        .icon {
            flex: 1;
        }
    }
}