.container {
    width: 1080px;
    margin: 0 auto;
    padding-top: 20px;
}

.search {
    h1 {
        font-size: 40px;
        font-weight: bold;
    }
    input {
        font-size: 16px;
        border: none;
        outline: none;
        width: 30%;
        padding: 10px 16px;
        margin-bottom: 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
}