.calc-wrap {
    padding: 10px;

    &-content {
        .list {
            border: 1px solid #333;

            &-item {
                &-num {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                }
            }
            &-item-a {
                display: block;
                text-align: center;
            }
        }
    }
    .divider {
        width: 100%;
        height: 1px;
        background-color: #333;
    }
}
