.answer {
    margin-top: 12px;
    border: 1px solid #f0f0f0;
    padding: 12px;
    border-radius: 12px;
    .correct {
        display: flex;
        justify-content: space-between;
        p > span {
            color: #30c9a1;
        }
    }

    ul {
        li {
            display: flex;
            span {
                font-weight: bold;
            }
            margin-bottom: 12px;
        }
        li::before {
            display: inline-block;
            content: '';
            width: 4px;
            height: 4px;
            background: #3c7cfc;
            margin-right: 10px;
            border-radius: 4px;
            position: relative;
            top: 9px;
        }
    }
}
