.answer {
    margin-top: 12px;
    border: 1px solid #f0f0f0;
    padding: 12px;
    border-radius: 12px;
    .correct {
        display: flex;
        justify-content: space-between;
        p > span {
            color: #30c9a1;
        }
    }

    ul {
        
        padding-left: 0;
        li {
            position: relative;
            display: flex;
            span {
                font-weight: bold;
                white-space: nowrap;
            }
            margin-bottom: 12px;
            padding-left: 20px;
        }
        li::before {
            position: absolute;
            display: block;
            content: '';
            width: 4px;
            height: 4px;
            background: #3c7cfc;
            border-radius: 4px;
            left: 8px;
            top: 10px;
        }
    }
    .question-notes {
        flex: 1;
        border: 2px solid #eee;
        border-radius: 10px;
        padding: 20px;
    }
}
