.zz-sidebar {
    width: 328px;
    border-right: 1px solid #eef2f8;
    padding: 24px;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }
}